# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/
end-to-end/test-results/
end-to-end/playwright-report/
end-to-end/playwright/.cache/

# next.js
_frontend/.next/
_frontend/out/

# nest / general build output
_backend/dist/
dist/

# turbo
.turbo/

# misc
.DS_Store
*.pem

# editor
.vscode/settings.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
